@use '../../../styles.scss' as *;

.last-updated {
    color: $primary-color-complement;
    font-style: italic;
    margin-bottom: 20px;
}

.section {
    color: $font-color-light;
    margin-bottom: 30px;
}

a {
    color: $primary-color;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
        color: $primary-color-complement;
    }
}