@use './../../../styles.scss' as *;

.navbar {
    background-color: $primary-color;
    color: $font-color-dark;
}

.navbar-toggler {
    border: none;

    &:focus {
        box-shadow: none;
    }
}